# Ignore node_modules for both frontend and backend
frontend/node_modules/
Backend/node_modules/

# Ignore build and output files


# Ignore environment variables
frontend/.env
backend/.env

# Ignore logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE and editor settings
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore cache files
*.cache
.pnp
.pnp.js

# Ignore coverage reports
coverage/
